@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6; /* Adjust for readability */
    color: #322940; /* Primary text color */
    background-color: #2b6777;
}


/*Header section start*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Stretches the navbar across the screen */
    z-index: 1000; 
    display: flex;
    justify-content: space-evenly;
    background-color: #2b6777;
    padding: 5px 15px; /* Reduce padding for a slimmer navbar */
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth animation */
}

.header.hidden {
    transform: translateY(-100%); /* Hides the navbar offscreen */
    opacity: 0; /* Makes the navbar invisible */
}

.header button {
    display: flex;
    align-items: center; /* Aligns content vertically within the button */
    color: #2b6777;
    text-decoration: none;
    margin: 10px 10px; /* Slightly smaller margins between buttons */
    font-size: 14px; /* Smaller font for a compact look */
    padding: 10px 20px; /* Reduce padding inside the buttons */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header button:hover {
    background-color: #6fcdb8; 
    color: white;/* Add hover effect for buttons */
}

.header-text {
    font-size: 30px;
    margin: 15px;
}

#tentacles {
    width: 50px;
}

@media (max-width: 600px) {
    .header-text {
        display: none; /* Hide the website name */
    }
    .header {
        justify-content: center; /* Center the remaining content */
    }
    #tentacles {
        max-width: 50px; /* Adjust the logo size for smaller screens */
    }

    
}

/*Header section end*/



/*Hero section start*/
.hero {
    text-align: center;
    background-image: linear-gradient(to bottom, #6fcdb8, #55b3ac, #42999d, #34808b, #2b6777);
    color: #FFFFFF;
    padding-top: 150px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.hero button {
    transition: background-color 0.3s;
    color: #2b6777;
}

.hero button:hover{
    background-color: #6fcdb8; 
    color: white;/* Add hover effect for buttons */
}

/*Hero section end*/



/* Headings start */
h1 {
    font-size: 48px;
    font-weight: 700;
    color: white; /* Accent color */
    border: #322940;
    border-radius: 50px;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    color: #f2f2f2; /* Secondary color */
}

h3 {
    font-size: 28px;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #f2f2f2; /* Body text */
}

button {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: #c8d8e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1%;
    margin: 1%;
}
/* Headings end */



/*Subtitle section start*/
.subtitle-container{
    text-align: center;
    margin-top: 100px;
}
/*Subtitle section end*/



/* Stats card section start */
.stats-container {
    display: flex;
    align-items: center;
}

.division-line {
    height: 10px; /* Thickness of the line */
    background-color: black; /* Color of the line */
    width: 60%; /* Length of the line */
    margin: 20px auto;
    margin-bottom: 50px;
    background-image: linear-gradient(to left, #2b6777, #317986, #3a8c94, #46a0a1, #55b3ac, #55b3ac, #55b3ac, #55b3ac, #46a0a1, #3a8c94, #317986, #2b6777);
}

.stats-card:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    transform: scale(1.2);
}

.stats-card {
    background-color: #f2f2f2;
    border-radius: 7px;
    transition: transform .2s; /* Animation */
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

.stats-card h3{
    color: #2b6777;
}

.stats-card p{
    color: #2b6777;
}

/* Stats card section end */



#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}


/* Game container section start */
#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #f2f2f2 ;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    transition: transform .2s; /* Animation */
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    transform: scale(1.2);
    
}

.game-card p {
    color: #2b6777;
}
/* Game container section end */



#button-container {
    text-align: center;
}



/* Filter buttons section start */
.filter-button{
    color: #2b6777; 
    transition: background-color .3s;
    transition: transform .2s; /* Animation */
    
}

.filter-button:hover{
    background-color: #6fcdb8;
    color: white;
}

.filter-button:active{
    transform: scale(1.2);
}
/* Filter buttons section end */

